body {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: rgb(51, 51, 51);
}

.container { margin: 0; min-width: 300px; width: 100%: padding: 10px; border: 1px solid #bbb; }

.desc { text-align: left; font: 12px Arial; margin-top: 10px; color: #666; }*/

#statsCon { float: left; margin-right: 5px; margin-top: 5px; padding-right: 10px; width: 100%; }
#statsCon .emptySlot { height: 25px; border: 1px dashed #CCC; margin-top: 2px; }
#statsCon .emptySlot p { font: 10px Arial; color: #CCC; text-align: center; margin-top: 7px; }
#statsCon .emptySlot-highlight { border: 1px dashed #000; }
#statsCon #statsAll { margin-top: 10px; }
#statsCon .statsCheck { float: left; position: relative; top: 4px; left: 3px; margin-right: 7px; }
#statsCon .statsPlaceHolder { height: 25px; border: 1px solid #DDD; margin-top: 2px }
.statsHead { font-family: 'Open Sans Condensed', sans-serif; color: #000; font-size: 14px; margin: 0 0 5px 0; font-weight: bold; }
#statsCon .instruct { font: italic 12px Arial; margin-bottom: 10px}
#statsCon .imp { font: 11px Arial; color: #333;  margin-top: 6px; margin-left: 5px }
#shorts { margin: 5px 0 24px 0; }
#shorts a { font: 14px Arial; color: #7ebee4; text-decoration: none; }
#shorts p { margin: 0 10px 24px 10px; float: left;}

#statsCon .dragger { 
	min-height: 25px; border: 1px solid #DDD; margin-top: 2px; 
	background-image: linear-gradient(bottom, rgb(236,236,236) 72%, rgb(226,226,226) 51%);
	background-image: -o-linear-gradient(bottom, rgb(236,236,236) 72%, rgb(226,226,226) 51%);
	background-image: -moz-linear-gradient(bottom, rgb(236,236,236) 72%, rgb(226,226,226) 51%);
	background-image: -webkit-linear-gradient(bottom, rgb(236,236,236) 72%, rgb(226,226,226) 51%);
	background-image: -ms-linear-gradient(bottom, rgb(236,236,236) 72%, rgb(226,226,226) 51%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.72, rgb(236,236,236)),
		color-stop(0.51, rgb(226,226,226))
	);
	
}
#statsCon .dragger:hover { cursor: move; }
#statsCon #a0,#a1,#a2,#a3,#a4,#a5,#a6,#a7,#a8,#a9 { position: relative;}

.dragger p { 
    font-family: 'Open Sans Condensed', sans-serif;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    margin: 4px 0 0 4px;
    text-shadow: 0.1em 0.1em #CCC;
}
.dragger img { float: left; margin: 10px 5px 0 10px }

.urank { font: 11px Arial;
    font-weight: bold;
    color: rgb(143, 50, 83);
     margin: 3px 4px 3px 1px;
    float: right;
    text-transform: none;
    }
.voteperc { font: 11px Arial;
    font-weight: bold;
    color: rgb(36, 58, 172);
    margin: 3px 4px 7px 4px;
    text-transform: none;
    }

.dd { width: 100%;
    margin-top: 3px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: bold}
#drops { margin-top: 10px; text-align: center; }
#drops .imp { font: 10px Arial; color: #CCC; margin-top: 4px;  }
#gobtn { margin-left:auto; margin-right:auto; display: inline-block; }

.module .main { text-align: left; margin-top: 20px; }  
.module .main .teamModule { min-height: 275px; }
.module .main .teamModule .teamInfo img { float: left; }
.module .main .teamModule .teamInfoText { padding-left: 55px; }
.module .main .teamModule .teamInfoText .cityName { font: 9px Arial; text-transform: uppercase; color: #666; }
.module .main .teamModule .teamInfoText .teamName { font-family: 'Open Sans Condensed', sans-serif; color: #000; font-size: 18px; text-transform: uppercase; font-weight: bold; }
.module .main .teamModule .teamInfoText .teamData { margin-top: 1px; font: 11px Arial; color: #666; }

.module .main .teamModule .teamStatsCon { margin-top: 10px; }
.module .main .teamModule .teamStatsCon .teamStat { font: 11px Arial; color: #666; padding: 3px; background-color: #f1f1f1; border-radius: 3px }
.module .main .teamModule .teamStatsCon .alt { background-color: #FFF; }
.main .teamModule .teamStatsCon .teamStatNum { font-weight: bold; }
.main .teamModule .teamStatsCon .teamStatTxt { float: left; width: 75%;}

.main .teamModule .calcCon { margin-top: 20px; }
.main .teamModule .calcCon .numBox { width: 72px; height: 40px; border-radius: 5px; background-color: #333; color: #FFF; font: bold 30px Arial; text-align: center; padding-top: 5px; float: left; margin-right: 5px;}
.main .teamModule .calcCon .numBoxLabel { font: 10px Arial; color: #999; padding-top: 15px;}
#teamModules { border-top: 1px solid #CCC }

#sharematch { margin-top: 40px }
#sharematch p { margin: 0px; background: url('../img/twitter-bird.png') no-repeat left center; padding-left: 30px; text-align: left; line-height: 1.2em; font-size: 12px;}

.section { border-top: 1px dotted #CCC; margin-top: 15px; padding-top: 10px }

#leaderboard ul { list-style-type: none; margin: 0px; padding: 0px; font: 12px Arial; color: #333; min-height: 120px; }

#sourceCreds {
	font: italic 11px Arial; 
	color: #999; 
	margin: 10px 0 10px 0px; 
	border-top: 1px solid #e2e2e2; 
	padding: 5px 0 0 0;
}

#embedwell { margin-top: 10px; }
#closebtn { 
	width: 20px; 
	height: 20px; 
	float: right; 
	background: url('../img/glyphicons-halflings.png'); 
	background-position: -310px 0px; 
	opacity: 0.2;
  	filter: alpha(opacity=20);
 }
 #closebtn:hover { opacity: 1; filter: alpha(opacity=100); cursor: pointer; }


@media (max-width: 500px) {
	.module .main .teamModule {  margin-bottom: 50px; border-top: 1px solid #CCC; padding-top: 10px; }
	#teamModules { border-top: none }
}
